<br>
<div style="text-align: center" class="col-md-12">
  <% @eras.each do |e| %>
    <div class="well row">
        <div class="col-md-3">
            <%= image_tag e.business.image, :style => "width:150px" %>
        </div>
        <div style="margin-top: 4%;">
            <div class="col-md-2">
                <h4><%= e.business.name %></h4>
            </div>
            <div class="col-md-2">
                <p style="font-size: 10px;" class="text-muted">Nível</p>
                <h5><%= e.level %></h5>
            </div>
            <div class="col-md-2">
                <p style="font-size: 10px;" class="text-muted">Dinero Electónico</p>
                $ <%= e.era_points.round(2) %>
            </div>
            <div class="col-md-3">
              <p style="font-size: 10px;" class="text-muted">Progreso de nível</p>
              <div class="progress">
                <div id="progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= e.exp %>" aria-valuemin="0" aria-valuemax="15" style="width: <%= (e.exp/level_progress(e.level))*100 %>%">
                </div>
              </div>
              <p class="text-muted"><%= e.exp %> exp</p>
            </div>
        </div>
    </div>
  <% end %>
</div>
