<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Registrar Tarjeta/Número de Celular</h4>
      </div>
      <div class="modal-body">
        <%= render "layouts/flasher" %>

        <%= form_tag("/card/register", method: "post", :class => "form-horizontal", :role => "form") do %>
            <div class="form-group">
              <%= label_tag(:total, "Código", :for => "card_code", :class => "col-md-4 control-label") %>
              <div class="col-md-8">
                <%= text_field_tag(:card_code, @card_code, :class => "form-control", :placeholder => "0000-0000-0000-0000") %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag("Registrar Tarjeta", :class => "col-md-12 col-xs-12 btn btn-warning btn-lg", :onclick => "mixpanel.track('Tarjeta Registrada');")  %>
              </div>
            </div>
        <% end %>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->