<% @page = "main" %>

<div style="padding-top: 20px;">
  <div class="col-md-8" style="padding: 58px;">
    <h2 style="color:white;" >Gana Dinero Electrónico en tus<br>
    lugares Favoritos de la ciudad</h2>
  </div>
  <div class="col-md-4">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :class=>"form-signin" }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :class=>"form-control transparent-input", :style => "background-color: rgba(255, 255, 255, 0.25);", :placeholder=>"Correo Electrónico", :autofocus=>"" %>
      <%= f.password_field :password, :class=>"form-control transparent-input", :style => "background-color: rgba(255, 255, 255, 0.25);", :placeholder=>"Contraseña" %><br>
      <div class="row">
          <div class="col-md-6">
              <label class="checkbox">
                <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                    <%= f.label "Recuerdame",:style => "color:white;" %>
                <% end %>
              </label>
          </div>
          <div class="col-md-6" >
            <%= f.submit "Iniciar Sesión", :class=>"btn btn-md btn-warning col-xs-12"  %>
          </div>
      </div>
    <% end %>
    <hr>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => { :class=>"transparent-form form-signin" }) do |f| %>
      <%= f.text_field :name, :class => "form-control transparent-input",:style => "background-color: rgba(255, 255, 255, 0.25);",:placeholder=>"Usuario" %>
      <%= f.text_field :email, :class => "form-control transparent-input",:style => "background-color: rgba(255, 255, 255, 0.25);",:placeholder=>"Correo Electrónico" %>
      <%= f.password_field :password, :class => "form-control transparent-input",:style => "background-color: rgba(255, 255, 255, 0.25);",:placeholder=>"Contraseña" %>
      <%= f.password_field :password_confirmation, :class => "form-control transparent-input",:style => "background-color: rgba(255, 255, 255, 0.25);",:placeholder=>"Confirmar Contraseña" %>
      <br>
      <div class="row">
          <div class="col-md-6">
            <%= f.submit "Registrarme", :class => "form-control btn btn-md btn-primary col-xs-12" %>
          </div>
          <div class="col-md-6">
          <!--TODO: Validar!-->
              <a href="users/auth/facebook">
                <button class="col-xs-12 zocial facebook" style="margin-top: 2px; font-size: 13px;">
                  Registrarme
                </button>
              </a>
          </div>
      </div>
    <% end %>
  </div>
</div>