<div class="span12">
    <h2><%= @business.name %></h2>
</div>
<div class="row-fluid">
  <div class="span8">

    <h4>Telefono: <%= @business.phone %></h4><br>
    <h4>Dirección: <%= @business.streetadr %></h4><br>
    <h4>Descripción:
      <br>
      <br>
      <%= @business.description %>
    </h4>
  </div>
  <%= image_tag @business.image, :class => "span4" %>
</div>
<br>

<% if current_user.role == "GOD" %>
    <div>
      <h4>Current Owner</h4>
      <p><%= @business.user.name %></p>
    </div>
    <%= form_tag("/businesses/update_admin", method: "post", :role => "form") do %>
        <%= label_tag(:user_mail, "Actualizar Dueño (por mail)") %><br />
        <%= text_field_tag(:user_mail) %><br />
        <%= hidden_field_tag(:business_id, @business.id) %>
        <%= submit_tag("Actualizar Admin")  %>
    <% end %>
<% end %>
<br />
<%= link_to 'Show', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
<br />