<!DOCTYPE html>
<html>
<head>
  <title>Winero</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("daba50c787a9b9cd0fdd4efc2cd734f5");</script><!-- end Mixpanel -->

</head>
    <body style="background: url('<%= background %>');">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button style="margin-top: 15px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--<a class="navbar-brand" href="http://getbootstrap.com/examples/jumbotron/#">Winera</a>-->
              <%= link_to image_tag("icono.png", :class => "navbar-brand", :style => "width:60px;"), "/" %>
              <%= link_to image_tag("nombre.png", :class => "navbar-brand", :style => "width:140px;"), "/" %>
            </div>

            <% if current_user %>
                <div class="navbar-collapse collapse">
                  <div style="margin-top: 10px;">
                      <ul class="nav navbar-right navbar-nav">
                        <li class="dropdown">
                          <a href="http://getbootstrap.com/examples/jumbotron/#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <%if current_user.businesses.any? %>
                                <li><a href="#">Ver Historial</a></li>
                                <li><a href="#">Aclaraciones</a></li>
                            <% else %>
                                <li><a data-toggle="modal" href="#myModal" >Registrar Tarjeta</a></li>
                            <% end %>
                            <li><a href="/users/edit">Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="/users/sign_out">Cerrar Sesión</a></li>
                          </ul>
                        </li>
                      </ul>
                  </div>
                </div><!--/.navbar-collapse -->
            <% end %>

          </div>
        </div>

        <div class="container">
            <% for i in 0..5 %>
              <br>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
