<!DOCTYPE html>
<html>
<head>
  <title>Winera</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
    <body style="background: url('<%= background %>');">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button style="margin-top: 15px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--<a class="navbar-brand" href="http://getbootstrap.com/examples/jumbotron/#">Winera</a>-->
              <%= link_to image_tag("icono.png", :class => "navbar-brand", :style => "width:60px;"), "/" %>
              <%= link_to image_tag("nombre.png", :class => "navbar-brand", :style => "width:140px;"), "/" %>
            </div>

            <% if current_user %>
                <div class="navbar-collapse collapse">
                  <div style="margin-top: 10px;">
                      <ul class="nav navbar-right navbar-nav">
                        <li class="dropdown">
                          <a href="http://getbootstrap.com/examples/jumbotron/#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <%if current_user.businesses.any? %>
                                <li><a href="#">Ver Historial</a></li>
                                <li><a href="#">Aclaraciones</a></li>
                            <% else %>
                                <li><a data-toggle="modal" href="#myModal" >Registrar Tarjeta</a></li>
                            <% end %>
                            <li><a href="/users/edit">Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="/users/sign_out">Cerrar Sesión</a></li>
                          </ul>
                        </li>
                      </ul>
                  </div>
                </div><!--/.navbar-collapse -->
            <% end %>

          </div>
        </div>

        <div class="container">
            <% for i in 0..5 %>
              <br>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
